.boldtext{
    font-weight: bold;
    color: navy

}

body{
    text-align: justify;
    font-family: Georgia;
}

h2{
    text-align: center;
    background-color: cornflowerblue;
}

.links{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    border: 3px solid black;
    border-radius: 20px;
    margin: 3% 14.5% 3% 14.5%;
    width: 20%;
    display: inline-block;
}

h4{
    text-align: center;
}
